<!-- form for admin to add new assignment -->
<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <title>Assignment.iWoah</title>
      <!-- <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> -->
      
      <link href="/dist/css/bootstrap.css" rel="stylesheet">
      <link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    
     <link rel="stylesheet" href="/assets/css/custom.css">
     <link rel="shortcut icon" href"/assets/ico/favicon.png">
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<!--     <link href="/theme.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../public/assets/js/html5shiv.js"></script>
      <script src="../../public/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <br>
  <br>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/students"></a>
          <a class="navbar-brand" href="/admin">Admin</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">
      <div class="page-header">


        <h1> Assignments </h1>
    

      </div>


<div>
  <table class="table table-hover">

	<% @assignments.each do |assignment| %>
	<tr>
  	<td width="5%"><h3><%= assignment.id %></h3></td>
  	<td width="50%"><h3><%= assignment.title %></h3></td>
  	<td width="15%">
  		<form method="post" action="/admin/assignments/evaluate"><input type="hidden" name="id" value="<%=assignment.id %>"><input type="submit" value="Evaluate" class="btn btn-success submit-btn"></form></td>
  	<td width="15%">
  		<form method="post" action="/admin/assignments/<%= assignment.id %>/submissions"><input type="hidden" name="id" value="<%=assignment.id %>"><input type="submit" value="Submissions" class="btn btn-info submit-btn"></form></td>
  	<td width="15%">
  		<form method="post" action="/admin/assignments/<%= assignment.id %>/pullforks"><input type="hidden" name="id" value="<%=assignment.id %>"><input type="submit" value="Pull Forks" class="btn btn-warning submit-btn"></form>
  	</td>
  </tr>
  <% end %>
  </table>
</div>


    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/dist/js/bootstrap.min.js"></script>
    <script src="/assets/dist/js/holder.js"></script>
  </body>
</html>


