
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href"/assets/ico/favicon.png">

    <title>Syllabest</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<!--     <link href="/theme.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../public/assets/js/html5shiv.js"></script>
      <script src="../../public/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <br>
  <br>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Syllabest</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">
      <div class="page-header">
        <h1><%= @student.first_name %> <%= @student.last_name %></h1>
        <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 35%"><span class="sr-only">35% Complete (success)</span></div>
        <div class="progress-bar progress-bar-warning" style="width: 20%"><span class="sr-only">20% Complete (warning)</span></div>
        <div class="progress-bar progress-bar-danger" style="width: 10%"><span class='sr-only'>10% Complete (danger)</span></div>
       <!--  This is where the global progress bar is located. -->
      </div>
      </div>
      <% @assignment_array.each do |assignment| %>
      <% if assignment.assignment_submissions.map {|s| s.student_id}.include?(@student.id) %>
      <h2 class="assignment"><%= assignment.title %><button type="button" class="btn btn-default">Test</button><br></h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Pass</h3>
            </div>
            <div class="panel-body">
              <h1><%= @student.assignment_submissions.find(:assignment_id => assignment.id).first.passes %></h1>
             
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Pending</h3>
            </div>
            <div class="panel-body">
              <h1><%= @student.assignment_submissions.find(:assignment_id => assignment.id).first.pendings %></h1>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Fail</h3>
            </div>
            <div class="panel-body">
              <h1><%= @student.assignment_submissions.find(:assignment_id => assignment.id).first.failures %></h1>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
      <% else %>

      <!---GREY STUFF -->

      <h2 class="assignment"><%= assignment.title %><button type="button" class="btn btn-default">Test</button></h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Pass</h3>
            </div>
            <div class="panel-body">
              <h1>0</h1>
            </div>
          </div>
  
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Pending</h3>
            </div>
            <div class="panel-body">
              <h1>0</h1>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Fail</h3>
            </div>
            <div class="panel-body">
              <h1>0</h1>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
      <% end %>
      <% end %>
    </div> <!-- /container -->
    <br>
    <br>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/dist/js/bootstrap.min.js"></script>
    <script src="/assets/dist/js/holder.js"></script>
  </body>
</html>
