<!-- form for admin to add new assignment -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href"/assets/ico/favicon.png">

    <title><%= @assignment.title %> Summary</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<!--     <link href="/theme.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../public/assets/js/html5shiv.js"></script>
      <script src="../../public/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <br>
  <br>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/students">Syllabest</a>
          <a class="navbar-brand" href="/admin">Admin</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">
      <div class="page-header">


        <h1> <%= @assignment.title %> Summary </h1>
     
     
      </div>

<table class="table table-hover">
  <tr>
  	<th width="40%" class="active">Student Name</th>
		<th width="20%" class="success">Pass</th>
		<th width="20%" class="warning">Pending</th>
		<th width="20%" class="danger">Fail</th>
  </tr>
  <% @assignment.assignment_submissions.each do |submission| %>
	</tr>
  	<td><%= submission.student.first_name %> <%= submission.student.last_name %></td>
  	<td><%= submission.passes %></td>
  	<td><%= submission.pendings %></td>
  	<td><%= submission.failures %></td>
  </tr>
  <% end %>
</table>

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/dist/js/bootstrap.min.js"></script>
    <script src="/assets/dist/js/holder.js"></script>
  </body>
</html>


